
/* nav */
.navbar {

    height: auto;
    padding: 1rem;
    background-color: antiquewhite;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;

}

@media(max-width:767px) {
    .logo {
        display: none;
    }


}
.banner {
    background: linear-gradient(90deg, #f6f6f678 0%, #22647376 35%, #819fa676 100%), url(/public/logo_biergon.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: calc(100vh - 5.9rem);
}

.banner img {
    /* max-width: 100%;
    height: 100%; */
}

.formulario {
    width: 50%;
    justify-content: center;
    align-items: center;
}

.card {
    position: absolute;
    
    background-color: #ffffff;
    width: 25rem;
    height: 30rem;
}
#form__logIn{
    visibility: hidden;
}
#form__signIn{
    visibility: hidden;
}
/* ----------------Principal------------------------ */
.dropdown,.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
}
#row__elementos{
    visibility: hidden;
} 
.end{
    display: flex;
    justify-content:end;
    align-items: center;
}
.start{
    display: flex;
    justify-content:start;
    align-items: center;
}
#card__crud{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 50rem;
    

}