<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="keywords" content="HTML, CSS, JavaScript, React">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
  <title>ErgoSense</title>
  <link rel="icon" type="image/x-icon" href="/public/image_mini.png">

</head>

<body>
  <!-- NAV -->

  <nav class="navbar  navbar-expand-md bg-body-secondary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav-toggler"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="nav-toggler">
        <a class="navbar-brand" href="../principal.html"><img class="logo" src="/public/Logo_Bioergon_sin_fondo.png" width="100"
            alt="logo de la empresa"></a>
        <p class="fw-bolder">USUARIOS</p>
        <div class="navbar-nav d-flex justify-content-center align-items-center">
          <form action="" class="d-flex ">
            <input type="search" id="search" placeholder="Buscar" class="form-control">

          </form>
          <button id="btn-buscar" class="btn btn-info mx-2">Buscar</button>
        </div>
      </div>
    </div>
  </nav>

  <!-- main -->



  <div class="container-fluid ">
    <div class="row">
      <div class="row d-flex justify-content-center">
        <strong id="confirmar" class="col-3 alert alert-info d-none text-center"></strong>
      </div>

      <div class="row d-flex justify-content-center">
        <div class="col-12">

          <form id="form-usuarios" class="row w-100 d-flex justify-content-center align-content-center ">
            <div class="col-8 d-flex justify-content-center align-content-center">

              <div class="col-6 mx-3">
                <label for="nombre" class="form-label mt-3 small">Nombre</label>
                <input type="text" class="form-control" id="nombre">
              </div>
              <div class="col-6 mx-3">
                <label for="apellido" class="form-label mt-3 small">Apellidos</label>
                <input type="text" class="form-control" id="apellido">
              </div>
            </div>
            <div class="col-8 d-flex justify-content-center align-content-center ">
              <div class="col-6 mx-3">
                <label for="peso" class="form-label mt-3 small">Peso</label>
                <input type="number" class="form-control" id="peso">
              </div>
              <div class="col-6 mx-3">
                <label for="altura" class="form-label mt-3 small">Altura</label>
                <input type="number" step="any" class="form-control" id="altura">
              </div>

            </div>
            <div class="col-8 d-flex justify-content-center align-content-center ">
              <div class="col-6 mx-3">
                <label for="sexo" class="form-label mt-3 small">Sexo</label>
                <input type="text" class="form-control" id="sexo">
              </div>
              <div class="col-6 mx-3">
                <label for="años" class="form-label mt-3 small">Años</label>
                <input type="number" class="form-control text-center" id="años">
              </div>
            </div>
            <div class="col-8 d-flex justify-content-center align-content-center ">
              <div class="col-6 mx-3">
                <label for="horasExperiencia" class="form-label mt-3 small">Horas de experiencia</label>
                <input type="number" class="form-control" id="horasExperiencia">
              </div>
              <div class="col-6 mx-3">
                <label for="horasEntreno" class="form-label mt-3 small">Horas de entreno</label>
                <input type="text" class="form-control" id="horasEntreno">
              </div>
            </div>
            <div class="col-8 d-flex justify-content-center align-content-center ">
              <div class="col-6 mx-3">
                <label for="lesionesPrevias" class="form-label mt-3 small">Lesiones previas</label>
                <input type="text" class="form-control" id="lesionesPrevias">
              </div>
              <div class="col-6 mx-3">
                <label for="zonasAfectadas" class="form-label mt-3 small">Zonas afectadas </label>
                <input type="text" class="form-control" id="zonasAfectadas">
              </div>

            </div>
            <div class="col-8 my-3 d-flex justify-content-center align-content-center ">
              <div class="col-6 mx-3">
                <label>Deportes federados<div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      DEPORTES
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" id="resDeportesFederados">

                    </ul>
                  </div></label>
              </div>
              <Label>Avtividades<div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="listaAvtividades"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    ACTIVIDADES
                  </button>

                  <div class="dropdown-menu" aria-labelledby="listaAvtividades">
                    <div class="d-flex justify-content-center" id="resActivadades"> </div>
                  </div>


                </div></Label>

            </div>
            <div class="col-12 d-flex justify-content-center">
              <button id="btn-guardar" type="submit" class="mt-4 col-auto rigth btn btn-primary">Guardar</button>

            </div>


          </form>
          <form id="form-actualizar" class="row w-100 d-flex justify-content-center align-content-center d-none">
            <div class="col-8 d-flex justify-content-center align-content-center">
              <input type="hidden" id="id-U">
              <div class="col-6 mx-3">
                <label for="nombre" class="form-label mt-3 small">Nombre</label>
                <input type="text" class="form-control" id="nombre-U">
              </div>
              <div class="col-6 mx-3">
                <label for="apellido" class="form-label mt-3 small">Apellidos</label>
                <input type="text" class="form-control" id="apellido-U">
              </div>
            </div>
            <div class="col-8 d-flex justify-content-center align-content-center ">
              <div class="col-6 mx-3">
                <label for="peso" class="form-label mt-3 small">Peso</label>
                <input type="text" class="form-control" id="peso-U">
              </div>
              <div class="col-6 mx-3">
                <label for="altura" class="form-label mt-3 small">Altura</label>
                <input type="number" step="any" class="form-control" id="altura-U">
              </div>

            </div>
            <div class="col-8 d-flex justify-content-center align-content-center ">
              <div class="col-6 mx-3">
                <label for="sexo-U" class="form-label mt-3 small">Sexo</label>
                <input type="text" class="form-control" id="sexo-U">
              </div>
              <div class="col-6 mx-3">
                <label for="años-U" class="form-label mt-3 small">Años</label>
                <input type="number" class="form-control text-center" id="años-U">
              </div>
            </div>
            <div class="col-8 d-flex justify-content-center align-content-center ">
              <div class="col-6 mx-3">
                <label for="horasExperiencia-U" class="form-label mt-3 small">Horas de experiencia</label>
                <input type="number" class="form-control" id="horasExperiencia-U">
              </div>
              <div class="col-6 mx-3">
                <label for="horasEntreno-U" class="form-label mt-3 small">Horas de entreno</label>
                <input type="text" class="form-control" id="horasEntreno-U">
              </div>
            </div>
            <div class="col-8 d-flex justify-content-center align-content-center ">
              <div class="col-6 mx-3">
                <label for="lesionesPrevias-U" class="form-label mt-3 small">Lesiones previas</label>
                <input type="text" class="form-control" id="lesionesPrevias-U">
              </div>
              <div class="col-6 mx-3">
                <label for="zonasAfectadas-U" class="form-label mt-3 small">Zonas afectadas </label>
                <input type="text" class="form-control" id="zonasAfectadas-U">
              </div>

            </div>

            <div class="col-8 my-3 d-flex justify-content-center align-content-center ">
              <div class="col-6 mx-3">
                <label>Deportes federados<div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      DEPORTES
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" id="resDeportesFederados">

                    </ul>
                  </div></label>
              </div>
              <Label>Avtividades<div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="listaAvtividades"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    ACTIVIDADES
                  </button>

                  <div class="dropdown-menu" aria-labelledby="listaAvtividades">
                    <div class="d-flex justify-content-center" id="resActivadades-U"> </div>
                  </div>


                </div></Label>

            </div>
            <div class="col-12 d-flex justify-content-center">

              <button id="btn-actualizar" type="submit" class="mt-4 col-auto rigth btn btn-success ">Actualizar</button>
            </div>


          </form>

        </div>
      </div>


      <p class=" fw-bolder mt-5 text-lg-center">RESULTADOS</p>
      <div id="libreta" class="row alert alert-info">
        <div class="col-12 ">
          <table id="resNombre" class="table table-bordered">
            <thead>
              <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Sexo</th>
                <th>Peso</th>
                <th>Altura</th>
                <th>Actividades</th>
                <th>Años</th>
                <th>Horas entrenadas</th>
                <th>Lesiones previas</th>
                <th>Zonas afectadas</th>
              </tr>
            </thead>
            <tbody id="res">

            </tbody>
          </table>
        </div>
      </div>



    </div>


  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="/js/search-crud-usuarios.js"></script>
  

</body>

</html>